@media screen and (min-width: 750px) {
  /* breadcrumbs */
  .article .breadcrumbs{
    z-index: 3;
    position: relative;
  }
  .article .breadcrumbs__list {
    max-width: calc(50% - 2rem);
    display: grid;
    grid-template-columns: auto auto 1fr;
  }
  .article .breadcrumbs__list .breadcrumbs__item:not(:last-child) {
    min-width: max-content;
  }
  .article .breadcrumbs__list .breadcrumbs__item:last-child {
    overflow: hidden;
  }
  .article .breadcrumbs__link[aria-current="page"] {
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
  }

  /* article-hero */
  .article-hero {
    position: relative;
    overflow: hidden;
  }
  .article-hero--small {
    min-height: 42rem;
  }
  .article-hero--medium {
    min-height: 52rem;
  }
  .article-hero--large {
    min-height: 72rem;
  }
  .article-hero .article-hero__media-item {
    position: inherit !important;
  }
  .article-hero .article-hero__media{
    left: auto;
    right: calc(50% + var(--grid-desktop-horizontal-spacing-large) / 2);
  }
  .article-hero .image-with-text__grid--reverse .article-hero__media {
    right: 0;
    left: calc(50% + var(--grid-desktop-horizontal-spacing-large) / 2);
  }
  .article-hero .image-with-text:not(.image-with-text--overlap) .image-with-text__media-item:after {
    display: none;
  }

  /* article-hero-slider */
  .article-hero.image-with-text:not(.image-with-text--overlap) .image-with-text__media-item > *,
  .global-media-settings .article-hero-slider,
  .global-media-settings .article-hero-slider img {
    border-radius: 0 0 0 var(--media-radius);
  }

  .article main > div:first-of-type.hero-slider,
  .article main > div:first-of-type.hero {
    position: relative;
    margin-top: -50px;
  }
}

.article-hero .image-with-text__text-item.grid__item {
  position: relative;
  z-index: 2;
}
.article-hero .article-hero__media-item {
  position: relative;
}
.article-hero .article-hero__media{
  position: absolute;
  padding: 0 !important;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;
}
@media screen and (max-width: 749px) {
  .article-hero .article-hero__media-item {
    height: 28rem;
  }
  .article-hero-slider .slider-buttons{
    width: 100%;
  }
  .article-hero.image-with-text:not(.image-with-text--overlap) .image-with-text__media-item > *,
  .global-media-settings .article-hero-slider,
  .global-media-settings .article-hero-slider img {
    border-radius: 0;
  }
}

/* article-hero-slider */
.article-hero-slider {
  display: grid;
}
.article-hero-slider, .article-hero-slider.slideshow {
  width: 100%;
  height: 100%;
}
.article-hero-slider .slider-buttons {
  z-index: 1;
  position: absolute;
  bottom: 0;
  border: none;
}
.article-hero-slider .slider-button {
  color: rgba(var(--color-background), 1);
}
.article-hero-slider .slider-button path {
  stroke: rgba(var(--color-background), 1);
}
.article-hero-slider .slider-counter__link--active.slider-counter__link--dots .dot {
  background-color: rgba(var(--color-background), 1);
}
.article-hero-slider .slider-counter__link--dots .dot {
  border: 0.1rem solid rgba(var(--color-background), 1);
}
.article-hero-slider .slider-counter__link--numbers {
  color: rgba(var(--color-background), 0.5);
  text-decoration: none;
}
.article-hero-slider .slider-counter__link--numbers:hover {
  color: rgb(var(--color-background));
}
.article-hero-slider .slider-counter__link--active.slider-counter__link--numbers {
  text-decoration: underline;
  color: rgb(var(--color-background));
}
.article-hero-slider .slider-counter {
  color: rgb(var(--color-background));
}


.article-hero .image-with-text__text--caption {
  font-family: var(--font-heading-family);
  font-weight: bold;
}
.article-hero.color-background-1 p.article-tag {
  color: rgba(var(--color-base-accent-1));
  font-size: 1.4rem;
}
.article-hero p.article-tag {
  text-transform: uppercase;
}

.article-hero .article-influencer {
  color: rgba(var(--color-foreground),1);
  font-family: var(--font-heading-family);
  font-weight: bold;
  text-decoration: none;
}
.article-hero .article-influencer .icon {
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  vertical-align: sub;
  color: rgba(var(--color-base-accent-1));
}
