/* Section lds-multicolumn by Lamour du Shop */
/* .multicolumn.multicolumn--step */
.multicolumn .multicolumn--step .grid {
  counter-reset: step;
  padding-top: 3rem;
}
.multicolumn .multicolumn--step .grid--3-col-desktop .grid__item {
  counter-increment: step;
  position: relative;
}
.multicolumn .multicolumn--step .grid--3-col-desktop .grid__item::before {
  content: counter(step);
  color: rgb(var(--color-background));
  background-color: rgb(var(--color-foreground));

  border-radius: 50%;
  position: absolute;
  left: calc(50% - 3rem);
  top: -3rem;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  display: flex;
  z-index: 1;
  font-family: var(--font-heading-family);
  font-size: 2rem;
  font-weight: bold;
}

.multicolumn .multicolumn--step .multicolumn-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.multicolumn .multicolumn--step::before{
  content: "";
  display: block;
  position: absolute;
  background: url(shape-algae-4.svg) no-repeat center / contain;
  width: 200px;
  height: 260px;
  left: -7rem;
  right: auto;
  top: calc(50% - 160px);
  bottom: auto;
  z-index: -1;
}
.multicolumn .multicolumn--step::after{
  content: "";
  display: block;
  position: absolute;
  background: url(shape-algae-6.svg) no-repeat center / contain;
  width: 360px;
  height: 360px;
  right: -8rem;
  left: auto;
  top: auto;
  bottom: 0;
  z-index: -1;
}

/* .multicolumn .multicolumn_spacing_large */
@media screen and (min-width: 990px){
  .multicolumn .multicolumn_spacing_large .grid {
      --grid-desktop-horizontal-spacing-large: calc(var(--grid-desktop-horizontal-spacing) * 4);
      column-gap: var(--grid-desktop-horizontal-spacing-large);
      row-gap: var(--grid-desktop-horizontal-spacing-large);
  }
  .multicolumn .multicolumn_spacing_large .grid--1-col-desktop .grid__item {
      width: calc(50% - var(--grid-desktop-horizontal-spacing-large) / 2);
      max-width: calc(50% - var(--grid-desktop-horizontal-spacing-large) / 2);
  }
  .multicolumn .multicolumn_spacing_large .grid--3-col-desktop .grid__item {
      width: calc(33.33% - var(--grid-desktop-horizontal-spacing-large) * 2 / 3);
      max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing-large) * 2 / 3);
  }
  .multicolumn .multicolumn_spacing_large .grid--4-col-desktop .grid__item {
      width: calc(25% - var(--grid-desktop-horizontal-spacing-large) * 3 / 4);
      max-width: calc(25% - var(--grid-desktop-horizontal-spacing-large) * 3 / 4);
  }
  .multicolumn .multicolumn_spacing_large .grid--5-col-desktop .grid__item {
      width: calc(20% - var(--grid-desktop-horizontal-spacing-large) * 4 / 5);
      max-width: calc(20% - var(--grid-desktop-horizontal-spacing-large) * 4 / 5);
  }
  .multicolumn .multicolumn_spacing_large .grid--6-col-desktop .grid__item {
      width: calc(16.66% - var(--grid-desktop-horizontal-spacing-large) * 5 / 6);
      max-width: calc(16.66% - var(--grid-desktop-horizontal-spacing-large) * 5 / 6);
  }
  .multicolumn .multicolumn_spacing_large .grid__item {
      width: calc(25% - var(--grid-desktop-horizontal-spacing-large) * 3 / 4);
      max-width: calc(50% - var(--grid-desktop-horizontal-spacing-large) / 2);
}
}
