@media screen and (min-width: 990px) {
  .lds-multicolumn-slide .slider-buttons {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    width: 100%;
    justify-content: space-between;
  }
  .lds-multicolumn-slide .slider-component-desktop {
    padding-right: 5rem;
  } 
}

.multicolumn-horizontal .multicolumn-card:not(.multicolumn-card__image-only) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.5rem;
}
.multicolumn-horizontal.has-image-wrapper--half-width .multicolumn-card:not(.multicolumn-card__image-only) {
  grid-template-columns: 50% auto;
}
.multicolumn-horizontal.has-image-wrapper--third-width .multicolumn-card:not(.multicolumn-card__image-only) {
  grid-template-columns: 33% auto;
}
.multicolumn-horizontal.has-image-wrapper--fourth-width .multicolumn-card:not(.multicolumn-card__image-only) {
  grid-template-columns: 25% auto;
}
.multicolumn-horizontal .multicolumn-card__image-wrapper {
  width: 100%;
}
.background-none .multicolumn-horizontal .multicolumn-card__image-wrapper+.multicolumn-card__info {
  padding-top: 0;
}
.multicolumn.background-primary .multicolumn-horizontal .multicolumn-card {
  padding: 1rem;
}
.multicolumn-horizontal .multicolumn-card-spacing, 
.multicolumn-horizontal .multicolumn-card__info {
  padding: 0;
  margin: 0;
}
.multicolumn.background-primary .multicolumn-horizontal.has-media--circle .multicolumn-card  {
  border-radius: 100px;
}

.lds-multicolumn-slide > div >.grid{
  align-items: center;
}
.lds-multicolumn-slide .grid__item {
  margin-bottom: 0;
}

@media screen and (min-width: 990px) {
  .lds-multicolumn-slide slider-component.grid__item {
    --desktop-margin-left-first-item: 5rem !important;
  }
  .lds-multicolumn-slide .grid__item .title-wrapper {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 989px) {
  .lds-multicolumn-slide .grid__item .title-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

/* custom section_usage */
@media screen and (max-width: 549px) {
  .section_usage .grid--2-col-tablet-down.slider--tablet .grid__item {
    width: calc(100% - var(--grid-mobile-horizontal-spacing) - 3rem);
  }
}

/* custom section_adaptability */
.section_adaptability.multicolumn.background-primary .multicolumn-card {
  background: rgb(var(--color-background));
  border: 1px solid rgba(var(--color-foreground),.08);
  box-shadow: 0 0 40px rgba(var(--color-foreground),.04)
}
.section_adaptability .multicolumn-card__info {
  line-height: 1.2;
}

.section_adaptability .multicolumn-horizontal .multicolumn-card:not(.multicolumn-card__image-only){
  grid-template-columns: minmax(10px,20%) max-content;
}

@media screen and (min-width: 750px) and (max-width: 989px){
  .section_adaptability .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item {
    width: auto;
  }
}

/* section_steps */

.section_steps .multicolumn-list__item {
  counter-increment: counter;
}

.section_steps .multicolumn-list__item .multicolumn-card__image-wrapper::after {
  content: counter(counter);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(var(--color-button));
  background: rgb(var(--color-background));
}

.section_steps .media {
  border-radius: var(--media-radius);
}
.video_multicolumn video {
  border-radius: 20px;
  width: 100%;
}

@media screen and (min-width: 750px){
  .section_steps .multicolumn-horizontal .multicolumn-card:not(.multicolumn-card__image-only) {
    gap: 10rem;
  }
  .section_steps .grid {
    row-gap: 0;
  }
  .section_steps .multicolumn-list__item .multicolumn-card__image-wrapper{
    position: relative;
    padding-top: var(--grid-desktop-vertical-spacing);
    padding-bottom: var(--grid-desktop-vertical-spacing);
  }
  .section_steps .multicolumn-list__item .multicolumn-card__info {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section_steps .multicolumn-list__item .multicolumn-card__info::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -4rem;
    height: 100%;
    width: 1px;
    background: rgb(var(--color-button));
  }
  .section_steps .grid .multicolumn-list__item:first-child .multicolumn-card__info:before{
    background: linear-gradient(0deg, rgba(var(--color-button), 1), rgba(var(--color-button), 0));
  }
  .section_steps .grid .multicolumn-list__item:last-child .multicolumn-card__info:before{
    background: linear-gradient(0deg, rgba(var(--color-button), 0), rgba(var(--color-button), 1));
  }
  
  .section_steps .multicolumn-list__item .multicolumn-card__image-wrapper::after {
    position: absolute;
    top: calc(50% - 1.5rem);
    right: -6rem;
    z-index: 1;
  }
  .multicolumn-card__content--bottom {
    justify-content: flex-end;
    align-self: flex-end;
  }
   .multicolumn-card__content--top {
    justify-content: flex-start;
    align-self: flex-start;
  }
  .multicolumn-card__content--middle{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 749px){
  .section_steps .multicolumn-horizontal .multicolumn-card:not(.multicolumn-card__image-only) {
    grid-template-columns: 1fr;
  }
  .section_steps .multicolumn-list__item {
    margin-bottom: 3rem;
  }
  .section_steps .multicolumn-list__item .multicolumn-card__image-wrapper,
  .section_steps .multicolumn-list__item .multicolumn-card__info {
    text-align: center;
  }
  .section_steps .multicolumn-list__item .multicolumn-card__image-wrapper:after {
    margin: 2rem auto 0;
  }
}
  

/* section_performance */
.section_performance .rte {
  font-size: 1.4rem;
  line-height: 1.5;
}

.section_performance .multicolumn-horizontal .multicolumn-card:not(.multicolumn-card__image-only) {
  grid-template-columns: 60px auto;
  gap: 3rem;
}

.section_performance .is_logo .media--adapt img {
  left: 50%;
  transform: translate(-50%);
}
.section_performance.background-none .multicolumn-card__image-wrapper {
  margin: 0 auto;
}
.section_performance .multicolumn-horizontal .is_logo .multicolumn-card__image-wrapper {
  width: 50%;
  max-width: 250px;
  margin-top: 3rem;
}

@media screen and (min-width: 990px){
  .section_performance ul {
    display: grid;
    grid-template-areas: "item image";
    grid-template-columns: 1.5fr 1fr;
    column-gap: 2rem;
    row-gap: 0;
  }
  .section_performance .multicolumn-horizontal .multicolumn-card:not(.multicolumn-card__image-only) .multicolumn-card__info {
    padding: 1.5rem 3rem;
    border-left: 1px solid;
  }
  
  .section_performance .is_logo {
    grid-area: image;
    grid-row: 1 / span 4;
    text-align: center;
  }
}

@media screen and (max-width: 989px){
  .section_performance .is_logo {
    display: none;
  }
}

@media screen and (max-width: 989px){
  .multicolumn-card__image-wrapper--fourth-width {
    max-width: 100px;
  }
  .multicolumn-card__image-wrapper--third-width {
    max-width: 150px;
  }
  .multicolumn-card__image-wrapper--half-width {
    max-width: 200px;
  }
}
@media screen and (max-width: 989px) and (min-width: 750px){
  .section_engagements .multicolumn-card {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 1rem;
    align-content: center;
  }
  .section_engagements .multicolumn-card__image-wrapper {
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 749px) {
  .section_engagements .multicolumn-card {
    text-align: center;
  }
  .section_engagements .multicolumn-card__image-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80px;
  }
  .multicolumn_button.left {
    text-align: center;
  }
}

/* section_steps_home */
.section_steps_home .multicolumn-list__item {
  counter-increment: counter;
}

.section_steps_home .multicolumn-list__item .multicolumn-card::after {
  content: counter(counter);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(var(--color-button));
  background: rgb(var(--color-background));
}

  .section_steps_home .multicolumn-horizontal .multicolumn-card:not(.multicolumn-card__image-only) {
    gap: 10rem;
  }
  .section_steps_home .grid {
    column-gap: 0;
  }
  .section_steps_home .multicolumn-list__item .multicolumn-card__image-wrapper{
    position: relative;
    padding-top: var(--grid-desktop-vertical-spacing);
    padding-bottom: var(--grid-desktop-vertical-spacing);
  }
  .section_steps_home .multicolumn-list__item .multicolumn-card__info {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section_steps_home .multicolumn-list__item .multicolumn-card__info::before {
    content: "";
    display: block;
    position: absolute;
    top: -2rem;
    left: 0;
    height: 1px;
    width: 100%;
    background: rgb(var(--color-button));
  }
  .section_steps_home .grid .multicolumn-list__item:first-child .multicolumn-card__info:before{
    background: linear-gradient(270deg, rgba(var(--color-button), 1), rgba(var(--color-button), 0));
  }
  .section_steps_home .grid .multicolumn-list__item:last-child .multicolumn-card__info:before{
    background: linear-gradient(270deg, rgba(var(--color-button), 0), rgba(var(--color-button), 1));
  }
  
  .section_steps_home .multicolumn-list__item .multicolumn-card::after {
    position: absolute;
    top: -3.5rem;
    left: calc(50% - 1.5rem);
    z-index: 1;
  }
  .section_steps_home slider-component{
    margin-top: 6rem;
  }
  .section_steps_home .multicolumn .button, .multicolumn .link {
    margin-bottom: 4rem;
  }
  .section_steps_home .grid--6-col-desktop .grid__item {
      max-width: calc(100% - var(--grid-desktop-horizontal-spacing)* 5 / 6);
  }

@media screen and (max-width: 989px){
  .section_steps_home .multicolumn-card {
    height: 10rem;
  }
  .section_steps_home .multicolumn-list__item .multicolumn-card__info::before {
    top: inherit; 
    bottom: 8.5rem;
    left: 0;
  }
  .section_steps_home .multicolumn-list__item .multicolumn-card::after{
    top: 0; 
  } 
  .section_steps_home .multicolumn-list h3 {
    margin-top: 2rem;
  }
  .section_steps_home slider-component{
    margin-top: 0;
  }
  .section_steps_home slider-component .slider-button,
  .section_steps_home .slider-button.slider-button--prev:not([disabled]){
    visibility: hidden !important;
  }
}
  
/* Video with text */
.video_text .multicolumn-card__info .link {
  text-decoration: underline;
  font-size: 1.4rem;
}
.video_text .multicolumn-card__info .icon-wrap {
  margin-left: 0;
}

@media screen and (max-width: 989px){
  .video_text .multicolumn-list__item--empty {
    display: grid;
  }
  .video_text .grid {
    flex-direction: column-reverse;
  }
}
