/* CartDrawer-progress by LDS */
#CartDrawer-progress {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  background: rgb(var(--color-base-background-2));
  text-align: center;
}
#CartDrawer-progress .progress-info {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#CartDrawer-progress .progress-bar {
  position: absolute;
  top: 46%;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
#CartDrawer-progress progress {
  width: 100%;
}

#CartDrawer-progress .progress + .notif-price {
  margin-top: .5rem;
}
#CartDrawer-progress .notif-price {
  font-size: 1.3rem;
}
#CartDrawer-progress .notif-price p {
  display: inline-block;
}

@media screen and (max-width: 424px) {
  #CartDrawer-progress .notif-price {
    font-size: 1rem;
  }
  #CartDrawer-progress .progress + .notif-price {
    display: none;
  }
}
#CartDrawer-progress strong, 
#CartDrawer-progress b {
  -webkit-text-stroke: 1px;
}
@media screen and (min-width: 425px){
  #CartDrawer-progress strong,
  #CartDrawer-progress b, 
  #CartDrawer-progress small {
    white-space: nowrap;
  }
}
#CartDrawer-progress .money span {
  display: none;
}

#CartDrawer-progress .progress {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  font-weight: bold;
}

.progress .progress-bar-value {
  --color-base-accent-1-saturate: 255, 155, 108;
  position: relative;
  display: block;
  height: 10px;
  border-radius: 10px;
  transition: all var(--duration-default) ease;
}
.progress .progress-bar-value {
  background: rgba(var(--color-base-accent-1),1);
  background: linear-gradient(90deg, rgb(var(--color-base-accent-1)) 0%, rgb(var(--color-base-accent-1-saturate)) 100%);
}
.progress .win .progress-bar-value {
  background: rgba(var(--color-base-accent-1),1);
  background: linear-gradient(90deg, rgb(var(--color-base-accent-1)) 0%, rgb(var(--color-base-accent-1-saturate)) 100%);
}
.progress .success .progress-bar-value {
  background: rgb(var(--color-base-accent-1));
  filter: saturate(1.5);
}

.progress .progress-bar-fill {
  position: relative;
  width: 100%;
  background-color: rgb(var(--color-background));
  border-radius: 10px;
  margin: 2rem 0;
  border: 1px solid rgba(var(--color-base-accent-1),.25);
}

@media screen and (max-width: 424px) {
  #CartDrawer-progress .progress {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 22px auto;
    margin-top: .5rem;
  }

  #CartDrawer-progress .progress .progress-bar-fill {
    grid-row: 1 / 2;
    grid-column: 1 / 3 span;
  }
  #CartDrawer-progress .progress .money {
    grid-row: 2 / 2;
  }
  #CartDrawer-progress .progress .progress-bar-fill + .money {
    text-align: right;
  }
}

.objectif,
.objectif-step {
  position: absolute;
  height: 250%;
  top: -75%;
  left: 0;
  z-index: 1;
}
.objectif {
  right: 0;
  left: auto;
}
.progress i {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  position: absolute;
  transition: all 1s var(--duration-default) ease;
}

.progress-bar-fill > i {
  top: calc(50% - 13px);
  left: calc(100% - 13px);
  height: 26px;
  width: 26px;
  background-color: rgb(var(--color-background));
  box-shadow: inset 0 0 0 1px rgb(var(--color-base-accent-1));
  color: rgb(var(--color-base-accent-1));
  filter: grayscale(1);
}
.objectif i,
.objectif-step i {
  top: calc(50% - 13px);
  left: calc(100% - 13px);
  height: 26px;
  width: 26px;
  background-color: rgb(var(--color-background));
  box-shadow: inset 0 0 0 1px rgb(var(--color-base-accent-1));
  color: rgb(var(--color-base-accent-1));
  filter: grayscale(1);
}
.progress-bar-fill.success .objectif i,
.objectif-step.win i {
  filter: grayscale(0);
  background-color: rgb(var(--color-base-accent-1));
  color: rgb(var(--color-background));
  filter: saturate(1.5);
}

span.objectif-step small {
  display: block;
  position: absolute;
  right: 0;
  bottom: -1.75rem;
  font-size: 1.1rem;
  font-weight: bold;
  transform: translateX(65%);
}

span.objectif i {
  right: 0;
  left: auto;
}

.fa-fill-drip::before {
  content: "\f576";
} 
.fa-gift::before{
  content: "\f06b";
}
.fa-truck::before{
  content: "\f0d1";
}
/* End // CartDrawer-progress by Lamour du Shop */
