/* LdS lds-section-reviews */
/* section reviews */
.stars-review-note {
  --color-stars: rgb(var(--color-foreground));
}

.review-color-inverse {
  --color-stars:  rgb(var(--color-base-text));
}

.review-color-accent-1 {
  --color-stars: rgb(var(--color-base-accent-1));
}

.review-color-accent-2 {
  --color-stars: rgb(var(--color-base-accent-2));
}

.review-color-background-1 {
  --color-stars: rgb(var(--color-base-background-1));
}

.review-color-background-2 {
  --color-stars: rgb(var(--color-base-background-2));
}

.stars-review-note {
  color: var(--color-stars);
}
.stars-review-note .icon-review-fill {
  stroke: var(--color-stars);
}


.reviews .multicolumn-card-spacing {
  padding-top: 0;
  margin: 0;
}
.reviews .multicolumn-card__image-wrapper--third-width {
  width: 25%;
  max-width: 80px;
}

.reviews .media {
  background: rgba(var(--color-base-text),.1);
  background: linear-gradient(180deg, rgba(var(--color-base-text),.05) 0%, rgba(var(--color-foreground),.2) 100%);
}
.reviews .media > img {
  mix-blend-mode: darken;
}

.reviews .multicolumn-card__info {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.reviews .rte {
  line-height: 1.2;
}
.reviews .multicolumn-list h3 {
  margin-top: 2rem;
  font-family: var(--font-body-family);
  font-weight: bold;
  color: rgba(var(--color-base-accent-2),1);
  line-height: 1.2;
}

.color-background-2.gradient {
  background-image: url(bg_motif.png);
  background-repeat: repeat;
  background-attachment: scroll;
}
.reviews {
  position: relative;
}
.reviews .page-width {
  position: relative;
  z-index: 1;
}

.reviews.multicolumn.background-primary .multicolumn-card {
  background: white;
  border-radius: var(--card-corner-radius);
  box-shadow: 0 20px 20px -10px rgba(var(--color-base-text),.35);
}


/* End lds-section-reviews */
