/* section title-partners */
.partners h2 {
  font-family: var(--font-body-family);
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
}
.partners big {
  display: block;
  line-height: 1;
  font-size: 200%;
  font-weight: 900;
}
.partners .subtitle {
  display: block;
  font-size: 1.6rem;
  line-height: 1.2;
  color: rgba(var(--color-base-text),1);
}


.partners .media > img {
  object-fit: contain;
  padding: 10%;
}

.partners.multicolumn.background-primary .grid__item-heading .multicolumn-card {
  background: none;
}
.partners .grid__item:not(.grid__item-heading) .multicolumn-card-spacing {
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 990px){
  .partners .grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 989px) and (min-width: 750px){
  .partners .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .partners .grid__item-heading {
    grid-column: 1 / span 4;
    grid-row: 1 / 2;
  }
  .partners .grid__item-heading {
    text-align: center;
  }
}
@media screen and (min-width: 750px){
  .partners .grid .grid__item {
    max-width: 100%;
    width: 100%;
  }
  .partners .multicolumn-list .multicolumn-card__info {
    padding: 0;
  }
}
@media screen and (max-width: 749px){
  .partners .media > img {
    padding: 5%;
  }
  .partners .grid--peek.slider .grid__item:nth-child(2) {
      margin-left: 1.5rem;
  }
  .partners .left, .partners .right {
    text-align: center;
  }
  .grid--2-col-tablet-down:not(.slider--mobile) .grid__item {
    width: calc(24% - var(--grid-mobile-horizontal-spacing) / 2);
  }
}

@media screen and (max-width: 500px){
  .partners .media > img {
    padding: 15%;
  }
  .grid--2-col-tablet-down .grid__item {
    width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  }
}
/* section title-partners//end */
