<style>
 /* footer dropdown menu mobile */
@media screen and (max-width: 749px) {
  .footer-block--menu .footer_menu {
    position: relative;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .footer-block--menu .footer_menu .icon-caret {
    position: absolute;
    height: 0.6rem;
    right: 1.5rem;
    top: calc(50% - 0.2rem);
  }
  .footer-block--menu .active .icon-caret {
    transform: rotate(180deg);
  }
  .footer-block--menu .list-unstyled:not(.list-social) {
    padding: 0 10px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s linear;
  }
}
/* End LdS lds-section-footer */
</style>

<!-- Remplacer les <h2 class="footer-block__heading"> par des <p class="h2 footer-block__heading"> -->
<!-- Puis Ajouter la classe 'footer_menu' class sur l'élément pour le convertir en menu dropdown en mobile -->
 {%- if block.settings.heading != blank -%}
    <p class="h2 footer-block__heading inline-richtext{% if block.type == 'link_list' %} footer_menu{% endif %}">{{- block.settings.heading -}}{% if block.type == 'link_list' %}{% render 'icon-caret' %}{% endif %}</p>
  {%- endif -%}

<!-- Ajouter le script pour le dropdown menu mobile -->
<script>
  const acc = document.getElementsByClassName("footer_menu");
  Array.from(acc).forEach(el => {
    el.addEventListener('click', function (e) {
      this.classList.toggle('active')
      const panel = this.nextElementSibling
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null
      } else {
        panel.style.maxHeight = `${panel.scrollHeight}px`
      }
    })
  })
</script>
